<li><button class='google' {{action 'signIn' "google"}}>
  {{fa-icon 'google'}} Sign in with Google
</button></li>
<li><button class='facebook' {{action 'signIn' "facebook"}}>
  {{fa-icon 'facebook'}} Sign in with Facebook
</button></li>
<li><button class='twitter' {{action 'signIn' "twitter"}}>
  {{fa-icon 'twitter'}} Sign in with Twitter
</button></li>
<li><button class='github' {{action 'signIn' "github"}}>
  {{fa-icon 'github'}} Sign in with Github
</button></li>
<li><button class='anonymous' {{action 'signIn' "anonymous"}}>Sign in Anonymously</button></li>
