<h2>{{model.name}}</h2>
{{seating-chart-list classroom=model}}

<h3>Classroom Layout</h3>
{{#if isManagingLayout}}
  <button  {{action (toggle 'isManagingLayout' this)}}>Done</button>
  <button {{action 'createNewDesk'}}>Create Desk</button>
  {{classroom-layout-manager
    positionedDesks=(await model.positionedDesks)
    unpositionedDesks=(await model.unpositionedDesks)
  }}
{{else}}
  <button {{action (toggle 'isManagingLayout' this)}}>Manage</button>
  {{classroom-layout desks=(await model.positionedDesks)}}
{{/if}}
