<h2>{{get (await model.classroom) 'name'}}</h2>
<h3>{{model.name}}</h3>

<h4>People</h4>
<ol>
  {{#each (sort-by 'name' (await model.people)) as |person|}}
    <li>{{person.name}}</li>
  {{else}}
    <li>None</li>
  {{/each}}
</ol>
{{one-way-input newPersonName update=(action (mut newPersonName))}}
<button {{action 'createNewPerson'}}>Add</button>

<button {{action 'randomizeAssignments'}}>Randomize Assignments</button>
<button {{action 'removeAllAssignments'}}>Remove All Assignments</button>

{{seating-chart
  unpositionedPeople=(await model.unpositionedPeople)
  positionedPeople=(await model.positionedPeople)
  desks=(await model.classroom.positionedDesks)
}}
